
<div class="span3 sidebar">
  <h1 class="logo"><a href="/">DCU<span>Machine Learning</span></a></h1>
  <p>The official home of the DCU Machine Learning Group</p>
  <p></p>
  <p> Read our <a href="code-of-conduct.html">Code of Conduct</a></p>
  <div class="social">
    <p>{% include tweet_btn.html %}</p>
    <p>{% include facebook_like_btn.html %}</p>
    <p>{% include google_plus_btn.html %}</p>
    <div class="recent_posts">
        <h2>Recent Meetings</h2>
        {% for post in site.posts limit:5 %}
          <div>
            <h5 class="inline">
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h5>
          </div>
        {% endfor %}
      </div>
  </div>
</div>

